@import "../../sass/color";

.page-home {
  padding: 0 16px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;

  .wrap-item {
    border-bottom: $border solid 2px;
    padding: 8px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;

    .title {
      font-weight: bold;
      font-size: 20px;
    }

    .wrap-desc {
      margin: 8px 0;

      .desc {
        font-size: 14px;
        margin: 4px 0;
      }
    }

    .wrap-price {
      display: flex;
      justify-content: space-between;
      margin-top: 16px;

      .title {
        font-size: 14px;
        font-weight: bold;
      }

      .desc {
        font-size: 16px;
        margin-top: 4px;
      }
    }
  }
}
